@page
@model MegaDeskWeb.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit quote</h1>

<hr />
<div class="row">
    <div class="col-md-7">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.id" />
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.customerName" class="control-label">Customer name</label>
                        <input asp-for="Quote.customerName" class="form-control form-control-sm" autocomplete="off" />
                        <span asp-validation-for="Quote.customerName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.width" class="control-label">Size of desk in width</label>
                        <input asp-for="Quote.width" class="form-control form-control-sm" min=24 max=96 />
                        <span asp-validation-for="Quote.width" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.depth" class="control-label">Size of the desk in depth</label>
                        <input asp-for="Quote.depth" class="form-control form-control-sm" min=12 max=48 />
                        <span asp-validation-for="Quote.depth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.drawers" class="control-label">Number of drawers</label>
                        <input asp-for="Quote.drawers" class="form-control form-control-sm" min=0 max=7 />
                        <span asp-validation-for="Quote.drawers" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.rush" class="control-label">Rush order options</label>
                        <select asp-for="Quote.rush" class="form-select form-select-sm">
                            <option value="14">Standard Shipping: 14 days</option>
                            <option value="7">Rush Order: 7 days</option>
                            <option value="5">Rush Order: 5 days</option>
                            <option value="3">Rush Order: 3 days</option>
                        </select>
                        <span asp-validation-for="Quote.rush" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="Quote.surface" class="control-label">Desktop surface material</label>
                        <select asp-for="Quote.surface" class="form-select form-select-sm">
                            <option value="Oak">Oak</option>
                            <option value="Laminate">Laminate</option>
                            <option value="Pine">Pine</option>
                            <option value="Rosewood">Rosewood</option>
                            <option value="Veneer">Veneer</option>
                        </select>
                        <span asp-validation-for="Quote.surface" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-sm btn-secondary" asp-page="./Index">Back to List</a>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-success btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-5 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://www.sosjm.com/images/thumbs/0000730_ee-0018p-elite-1800-exec-desk-wret-pedestal-pine.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-text">Thank you !!!</h1>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
